trigger:
  branches:
    include:
      - main

pool:
  vmImage: ubuntu-latest

steps:
  - task: AzureCLI@2
    displayName: Build and push auth-service image to ACR
    inputs:
      azureSubscription: sc-mini-erp-dev-rg
      scriptType: bash
      scriptLocation: inlineScript
      inlineScript: |
        az acr login --name minierpdevacr

        docker build \
          -f BACKEND/auth-service/Dockerfile \
          -t minierpdevacr.azurecr.io/auth-service:dev \
          BACKEND/auth-service

        docker push minierpdevacr.azurecr.io/auth-service:dev
